@import '../../../style/color';
@import '../../../style/mixin';
.nodeDetailContainer{
    position: absolute;
    z-index: 100;
    .simpleBox{
        background-color: fadeout(@primaryFg,10%);
        min-width: 275px;
    }
    .action-section{
        text-align: center;
        padding-bottom: 12px;
        .action-item{
            padding:8px 12px;
            color: @em2fg;
            background-color: lighten(@primaryBg, 20%);
            color: @primaryFg;
            border-radius: 3px;
            margin-bottom: 3px;
            &:hover{
                background-color: @primaryBg;
                .onHover;
            }
        }
    }
    .proteinHits-section{
        .proteinHit-item{
            .architecture{
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        padding: 2px 4px;
                        margin: 0px 4px; 
                        background-color: darken(@primaryFg, 5%);
                        border-radius: 3px;
                        font-size: 12px;
                        &:hover{
                            .onHover;
                            background-color: darken(@primaryFg, 15%);
                        }
                        a{
                            color: darken(@primaryFg, 60%);
                            &:hover{
                                text-decoration: none;
                                .onHover;
                            }
                        }
                    }
                }
            }
        }
    }
    .manualLabel-section{
        input{
            width: 100%;
        }
    }
}


