@import "color"; 
@import "mixin"; 

.appHeader{
    padding: 8px 18px;
    height: 60px;
    background-color: @primaryBg;
    .brand{
        color: @em2bg;
        font-size: 32px;
    }
    .actions{
        list-style: none;
        .action-item{
            font-size: 16px;
            display: inline-block;
            color: @em1bg;
            a{
                color:@em1bg;
            }
            padding: 12px 8px;
            &:hover{
                color: lighten(@em1bg,20%);
                .onHover;
            }
        }
    }
}


