
@primaryBg: #444;
@primaryFg: #fff;


// the higher the number, the more emphasis put on element
// i.e. more contrast with background
@em1bg: #7a7a7a;
@em2bg: #c0c0c0;
@em9bg: #fff;

// emphasis 1 with foreground
@em1fg: #c0c0c0;
@em2fg: #aaa;
@em3fg: #929292;
@em4fg: darken(#929292,20%);
@em9fg: #000;





